body,
html {
    height: 100%;
    background-color: white;
}
*{
    font-family: 'Poppins', sans-serif;
}
.mobile {
     background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, .60), 
      rgba(0, 0, 0, .60)
    ),
    /* bottom, image */
    url(photos/pricing.jpg);
    /* The image used */

    /* Full height */
    height:100%;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile_2 {
    background:
        /* top, transparent red, faked with gradient */
        linear-gradient(rgba(0, 0, 0, .60),
            rgba(0, 0, 0, .60)),
        /* bottom, image */
        url(photos/moon_cake.jpg);
    /* The image used */

    /* Full height */
height: 90%;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.request a{
    text-decoration: none;
    color:black !important;
}
.header_1{
    color:white;
}
.body_1{
padding-bottom:50px;
max-width: 1400px;
}

.about_header {
    color:#5BD4C9;
}
.card {
    background-color:white;
    border-radius:12px;
    z-index: 1;
    opacity: 100; 
}
.desc{
    color:#5BD4C9;
}
.header_desc {
    color:white;
    font-size: 3em;
}
.soc_icons img{
    width: 60px;
    height: 60px;
    margin-top:40px;
    margin: auto;
    padding: 5px;
}

/* Larger Screen:*/
@media screen and (min-width: 990px) {
 .parallax{
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, .40), 
      rgba(0, 0, 0, .40)
    ),
    /* bottom, image */
    url(photos/pricing_large.jpg);
    /* The image used */

    /* Full height */
    height:80%;
    /* Create the parallax scrolling effect */
      background-attachment: fixed;

     background-position: center!important;
     background-size:cover;
    background-repeat: no-repeat;
}
 .parallax2 {
     background:
         /* top, transparent red, faked with gradient */
         linear-gradient(rgba(0, 0, 0, .60),
             rgba(0, 0, 0, .70)),
         /* bottom, image */
        url(photos/moon_cake.jpg);
     /* The image used */

     /* Full height */
     height: 80%;
     /* Create the parallax scrolling effect */
       background-attachment: fixed;

     background-position:center top!important;
     background-repeat: no-repeat;
 }
.about_us {
    padding: 0 50px !important;
}
.about_header{
padding-bottom: 0 !important;
}
.cake {
    position: relative;
    top:-150px;
}

}